/.DS_Store
/.venv
/ECOMMERC-1.ipynb
/Loan Project-1.ipynb
/Sales-1.ipynb
/Superstore.csv
/Transaction.csv
/adult.csv
/airbnb-1.ipynb
/coffee-1.ipynb
/coffee-shop-sales-revenue.csv
/coffee-shop-sales-revenue.parquet
/financial_loan.xlsx
/googleplaystore.csv
/googleplaystore_user_reviews.csv
/import numpy as np.py
/luke.ipynb
/olympics-data.xlsx
/python-1.ipynb
/results.parquet
/review-1.ipynb
/supermarket_sales.xlsx
/test.py